.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}

tr:hover {
  background-color: red;
  color: #fff
}

table {
  width: 100%;
  background: #000;
  margin-bottom: 0;
  color: #fff
}

table td {
  padding: 0;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #e9e9e9
}

table p {
  margin: 0;
  color: #fff
}